.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  transition: background-color 400ms;
  z-index: 2;
}